.roadmapHeading {
  /* padding: 1% 12% 3% 12%; */
  line-height: 35px;
}

.supportLink {
  margin: 0 25px;
}

@media screen and (max-width: 567px) {
  .roadmapHeading {
    /* padding: 0% 3% 3% 3%!important; */
    font-size: 18px!important;
  }
}